/*ADD FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*============page layout & size==============
all height = 4792px= 86 (header) + 4271px(main) + 435px(footer)


4271px(main)= 814px(presentation) + 500px(browse_the_category) + 80px(gap) + 2344px(all_section_article)
+ 80px(gap)  + 453px(subscribe_section).

all width =  1440px.
 width of the section(wrapper_for_section) -  1252px
===============================================*/

/*========= Container of all page===========*/
.container_4792px{
    width: 1440px;
    height: 4792px;
    background: #FFFFFE;
    margin: 0 auto;
}
/*=========header ={ logo & NAV & button}==============*/
header{
    height: 86px;
    width: 1440px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
.sub-header{
    height: 86px;
}
.logo{
    height: 45px;
    width: 194px;
    display: flex;
    align-items: baseline;
    margin: 26px 0 15px 95px;
}
.logo_left_part{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo_right_part{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link_menu{
    display: flex;
    justify-content: center;
}

.link_menu ul {
    width: 493px;
    height: 25px;
    display: flex;
    gap: 50px;
}

.link_menu li {
    text-align: center;
}
.link_menu a {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.search{
    align-items: center;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.button_buy_me_a_coffee{
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 4px;
    background: #6246EA;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
}
.header_menu_and_button{
    display: flex;
    width: 756px;
    height: 44px;
    align-items: center;
    gap: 50px
}

/*========= Main =========*/
.main_content{
    width: 1440px;
    height: 4271px;
    margin: 0 auto;
}

/*========= Section WRAPPERS ===========*/
.wrapper_for_section{
    display: flex;
    width: 1252px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.wrapper_for_title{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 0 auto;
}
/*========= Section Style ===========*/
.style_of_section_title{
    height: 30px;
    text-align: right;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.style_of_see_all_category_or_articles{
    height: 25px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 4px 12px 6px 0;
}
.see_all_and_arrow{
    margin-right: 7px;
}

/*========= Main =  Section presentation h = 814px=(900-86header) =========*/
.presentation{
    width: 1440px;
    height: 814px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EFF0F3;
}
.presentation_main_title{
    width: 617px;
    height: 162px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.presentation_text{
    width: 652px;
    height: 50px;
    color: #9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}
.subscribe_field{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    margin-right: 20px;
}
.button_subscribe{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe_email{
    display: flex;
    margin-top: 30px;
}

.presentation_text_and_subscribe{
    width: 664px;
    height: 345px;
}
.icon_learn_coding{
    display: flex;
    width: 470px;
    padding: 13px 18px 11px 18px;
    justify-content: center;
    align-items: center;
}

/*========= Section browse_the_category h=500px =========*/
.browse_the_category{
    width: 1440px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: grid;
    margin: 0 auto;
    background: #EFF0F3;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border-radius: 8px;
    height: 350px;
    gap: 37px;
}
.cards_style{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.cards_style:hover{
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    /* For Colorize Background */
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.icon_css{
    width: 60px;
    height: 120px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    margin: 65px 130px 95px 30px;
}

.icon_JS{
    width: 118px;
    height: 120px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    margin: 65px 72px 95px 30px;
}

.icon_Tailwind{
    width: 96px;
    height: 120px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    margin: 65px 94px 95px 30px;
}

.icon_VUE_JS{
    width: 75px;
    height: 120px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    margin: 65px 115px 95px 30px;
}

.icon_React_JS{
    width: 98px;
    height: 120px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    margin: 65px 92px 95px 30px;
}
.wrapper_for_icons{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: #FFFFFE;

}
.css_logo{
    margin: 12px 14px 11px 13px;
}
.tailwind_logo{
    margin: 18px 10px;
}
.vue_Js_logo{
    margin: 15px 12px 14px 12px;
}
.react_js_logo {
    margin: 12px 10px;
}

/*========== 4 sections for cards with articles===========*/
.all_section_article{
    width: 1440px;
    height: 2344px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 80px auto 80px auto;
    gap: 80px;
}
.section_article_wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1252px;
    height: 490px;
    margin: 0 auto;
}

.wrapper_for_article_cards{
    display: flex;
}
.article_cards_futured{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 0 auto;
}
.image_and_title{
    gap: 25px;
    display: grid;
}
.image_on_card{
    width: 260px;
    height: 198px;
    object-fit: cover;
    border-radius: 13px;
}
/*========= footer about the author and views of the cards===========*/
.reader{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    width: 260px;
    height: 57px;
    margin-top: 80px;
}
.name_date_and_time{
    width: 184px;
    height: 46px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    display: flex;
}
.user_name{
    width: 184px;
    height: 45px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.date_and_time{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.icon_the_last_reader{
    width: 57px;
    height: 57px;
    border-radius: 57px;
    display: inline-block;
}

.featured_article_title{
    width: 260px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.title_of_article{
    width: 260px;
    height: 25px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.image_and_link{
    width: 260px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.article_cards_futured:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.section_button_load_more{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/*========= Subscribe section =========*/

.subscribe_section{
    display: inline-flex;
    padding: 58px 372px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #EFF0F3;
}
.subscribe_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.post{
    display: grid;
    align-items: center;
    justify-items: center;
}

.post_box_icon{
    position: absolute;
    align-self: self-end;
}

.image_post_box{
    position: relative;
    width: 80px;
    height: 107px;
}

.subscribe_title{
    width: 617px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe_text{
    width: 696px;
    color: #C0C0C0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*========= Footer =========*/
.footer{
    height: 435px;
    background: #E4E5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_container{
    width: 1249px;
    height: 245px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
}

.about_website{
    display: flex;
}
.logo{
    width: 193px;
    margin: 0 89px 0 0;
}
.about_the_author{
    width: 284px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon{
    width: 284px;
    height: 24px;
    display: flex;
    gap: 30px;
    align-items: center;
}


.footer_menu_title{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.footer_menu_list{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: grid;
    gap: 20px;
}

.footer_menu{
    width: 805px;
    height: 245px;
    display: flex;
    align-items: flex-start;
    gap: 95px;
    margin-left: 160px;
}
.Category{
    width: 129px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.About_Me{
    width: 113px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.Get_in_touch{
    width: 159px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.Follow_Us{
    width: 119px;
    height: 202px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.footer_line{
    width: 1250px;
    height: 1px;
    background: #C0C0C0;
    margin-top: 50px;
}

.copyright{
    width: 137px;
    height: 70px;
    margin: 26px 1208px 26px 95px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





